.card {
	display: grid;
	grid-area: comics-feed;
	grid-template-columns: 185px;
	grid-template-rows: 275px 275px;
	grid-template-areas: 
		"image"
		"detail";
	justify-items: center;
}

.card h3 {
	font-size: inherit;
	font-weight: 700;
	margin: 10px 0 0 0;
	padding: 20px 0;
}

.card ul {
	font-family: var(--Karla);
	font-size: inherit;
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

.card ul li {
	padding-bottom: 6px;
}

.card .image {
	box-shadow: 0px 5px 12px #00000070;
	grid-area: image;
}

.card .image:focus {
	border: 8px solid var(--red);
	box-shadow: 3px 8px 12px #00000080;
	scale: 1.10;
}
.card .image:hover {
	border: 8px solid var(--red);
	box-shadow: 3px 8px 12px #00000080;
	scale: 1.10;
}

.detail {
	display: grid;
	font-size: 18px;
	grid-area: detail;
	height: fit-content;
	justify-self: baseline;
	max-width: 185px;
	width: 100%;
}

.detail_label {
	color: black;
	font-family: var(--Karla);
	font-weight: 900;
}

.detail_data {
	font-weight: 500;
}

button.button_detail {
	background-color: var(--off-black);
	border: 0px outset var(--off-white);
	border-radius: 50%;
	color: var(--off-white);
	font-size: 1.6em;
	grid-area: detail;
	height: 50px;
	justify-self: center;
	padding: 5px;
	position: relative;
	top: -28px;
	width: 50px;
	z-index: 100;
}

button.button_detail:focus {
	border: 5px outset var(--off-white);
}

button.favorite {
	background-color: var(--red);
	border: 2px solid var(--off-white);
}


/**   Phone   **/
@media only screen and (max-width: 600px) {
	.card {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 188px;
		grid-template-areas: "detail image";
	}

	.image {
		height: 188px;
		width: 125px;
	}

	.detail {
		font-size: 16px;
		max-width: 100%;
		width: 100%;
	}

	.card h3 {
		margin: 5px 0 12px 0;
		padding: 0;
	}

	button.button_detail {
		align-self: center;
		font-size: 1.2em;
		height: 40px;
		justify-self: end;
		right: -20px;
		top: 0px;
		width: 40px;
	}
}